* {
    outline: 1px solid;
}

.test-section {
    width: 800px;
    height: 600px;
    background-color: #000000;

    @media screen and (max-width: 1024px) {
        .test-section {
            display: none;
        }