* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 50px auto;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
}

.btn {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: white;
}

.red_btn {
    background-color: red;
}

.red_btn:hover {
    background-color: blue;
}

.blue_btn {
    background-color: blue;
}

.blue_btn:hover {
    background-color: red;